#main-container {
  padding-top: 10px;
  width: 60%;
  margin: 0 auto;
}

#display-section {
  margin-left: 6%;
}

#display-title {
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
