<h2 class="display-title">Portfolio</h2>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="images/600x400.jpg" class="img-responsive center-block" alt="Responsive image">
      <div class="caption">
        <strong>Project 1</strong>
        &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu ante et elit gravida consequat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu ante et elit gravida consequat.
      </div>
    </div>
  </div> <!-- left column -->

  <div class="col-md-6">
    <div class="thumbnail">
      <img src="images/600x400.jpg" class="img-responsive center-block" alt="Responsive image">
      <div class="caption">
        <strong>Project 2</strong>
        &nbsp; Morbi eget mollis enim, a auctor neque. Curabitur quam neque, commodo a dolor nec, interdum aliquet orci. Vestibulum sit amet dignissim quam, sit amet tincidunt quam.
      </div>
    </div>
  </div> <!-- right column -->
</div> <!-- first row  -->

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="images/600x400.jpg" class="img-responsive center-block" alt="Responsive image">
      <div class="caption">
        <strong>Project 3</strong>
        &nbsp; In suscipit pharetra est, nec tempor sem pretium in. In metus massa, rhoncus quis tortor ut, rhoncus interdum tellus.
      </div>
    </div>
  </div> <!-- left column -->

  <div class="col-md-6">
    <div class="thumbnail">
      <img src="images/600x400.jpg" class="img-responsive center-block" alt="Responsive image">
      <div class="caption">
        <strong>Project 4</strong>
        &nbsp; Integer in enim id neque ornare maximus sit amet ut sem. Morbi quis sapien metus. Pellentesque arcu magna, accumsan quis venenatis in, tincidunt vitae nisi.
        Integer in enim id neque ornare maximus sit amet ut sem. Morbi quis sapien metus. Pellentesque arcu magna, accumsan quis venenatis in, tincidunt vitae nisi.
      </div>
    </div>
  </div> <!-- right column -->
</div> <!-- second row  -->

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="images/600x400.jpg" class="img-responsive center-block" alt="Responsive image">
      <div class="caption">
        <strong>Project 5</strong>
        &nbsp; Cras eget faucibus risus. Proin sed tincidunt tellus. In mattis est quam, nec semper risus interdum eget. Proin sit amet est et ante fermentum feugiat.
      </div>
    </div>
  </div> <!-- left column -->

  <div class="col-md-6">
    <div class="thumbnail">
      <img src="images/600x400.jpg" class="img-responsive center-block" alt="Responsive image">
      <div class="caption">
        <strong>Project 6</strong>
        &nbsp; Pellentesque venenatis ultrices eleifend. Morbi dapibus in arcu viverra dapibus. Fusce in aliquam orci, id pulvinar augue.
      </div>
    </div>
  </div> <!-- right column -->
</div> <!-- third row  -->